<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264062512647-ivik06k2knn54dk45qding8nec6okl9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264062512647-ivik06k2knn54dk45qding8nec6okl9j</string>
	<key>API_KEY</key>
	<string>AIzaSyC-l4VJCuE6bN5qo13quv0Xl-mzwDepjE4</string>
	<key>GCM_SENDER_ID</key>
	<string>264062512647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abstec.ViNaTV</string>
	<key>PROJECT_ID</key>
	<string>vinatv-ac4e4</string>
	<key>STORAGE_BUCKET</key>
	<string>vinatv-ac4e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264062512647:ios:72165ad724333a58b0c4a2</string>
	<key>DATABASE_URL</key>
	<string>https://vinatv-ac4e4.firebaseio.com</string>
</dict>
</plist>